<div class="container">
<h3 class="text-center partialPageHeader">About Dr Sandhal's Clinic</h3>
	<h3>
		Who we are
	</h3>
	<h3>
		In service of Mankind
		<br/>
		through Ayurveda since --- 
	</h3>
	<p>
		<b>Dr Sandhal Heath Care Clinic</b> is dream of <em><b>Late. DR S K Sandhal</b></em> who was an athourity in ayurvedic medicine during his time. He was a great visionary and is great human a great desire to serve the mankind through ayurvedic medicine medicine at affordable price.<br/>
		
		After completing his education, In place of joining a hospital or opening a clinic in big city, he deceided to learn more about ayurvedic herbal medicine under the intership of vedyaraj (who was known at that time as <em> Dhawantry</em> of that time) in a small village. He use to discuss with vedyaraj regarding the treatment of various cronic disease in the first half of the day and rest he use to spend in green hills in search of various herbs which were required to make medicines under guidance of vedyaraj. After finishing his traning under veddyaraj, He decieded to serve the people of the remote area and he opened a small clinic in a village and spend around 10 years o \f his life and trained many boys with thw aim to spread ayurvedic knowledge as much as possible. After that he shifted to <em><b>Nangal</b></em> and opened ayurvedic clinic named <em><b>Sandhal Clinic</b></em>.<br/>	
	</p>
	<p>
		He was having keen desire for onced to become an ayurvedic doctor in place of joing MBBS or any other Allopathic medicine institutite.
		To follow his footsteps and to fullfill his desire, I (<em><b>Dr Rohit Sandhal</b></em>) didi B.A.M.S and took training for him before joining <em><b>Sandhal Clinic</b></em>. He use to send me to green hills, valleys in <em>Himachal Pardesh</em> to identify various herbal trees and hreabs to make herbal medicines. Even today , I spend half of my sunday in search of various types of hreabs in green hills. Today <em><b> Dr Sandhal clinic</b></em> is capable of treating many <b>cronic </b> diseases with full success.<br/>
		<em>
			 If  any of your known is suffering fromany type of chroninc disease and is not satisfied from current treatment , you can contact us to get full refief from disease without any side-effect and at a afforable cost. 
		</em>
	</p>

</div>